@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #07070A;
  --primary-color: #FAD008;
  --paragraph-color:#A5A5A5;
  --button-color:#39393B;

}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #07070A;
  color: #ffffff;
  font-family: 'Clash Grotesk', sans-serif;
}

h1{
  font-weight: bold;
  font-size: 96px;
}

h2{
  font-weight: bold;
/* <<<<<<< HEAD */
  /* font-size: 52px; */
/* ======= */
  font-size: 28px;
/* >>>>>>> origin/fizza */
}

h3{
  font-weight: bold;
  font-size: 28px;
}


h4{
  font-weight: bold;
  font-size: 32px;
}

h5{
  font-weight: 400;
  font-size: 15px;
}

h6{
  font-weight: 400;
  font-size: 24px;
}

p{
  font-weight: 400;
  font-weight: 18px;
}

#root-portal {
  position: relative;
  z-index: 1000;
}


.yolk{
  color: var(--primary-color);
}

.dull{
  color: var(--paragraph-color);
}


.yellow{
  color: var(--primary-color);
}

.black{
  color: var(--black);
}

.HeroSection{
  background-image: url("/src/assets/Images/backgroundGradient.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #FFD700, #FFA500, #FFCC00);

  border-radius: 8px;
}

.white{
  color: var(--white);
}

.grey{
  color: var(--paragraph-color);
}
.button-color{
  color: var(--button-color);
}

.bookingPage{
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
  url(././assets/Images/banner2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-wrap {
  white-space: nowrap;
}
